@charset "utf-8";
/* CSS Document */

/*top begin*/
   .top{font-size:50px;
   font-family:Verdana, Geneva, sans-serif;
   background:#00F ;
   text-align:center;
   margin:10px auto 0 auto;
   padding:0; 
   border:#0FF solid 2px;
   width:100%; 
   height:80px;
   color:#F63;}
/*top end*/ 

/*content begin*/
    .content{windth:1000px;
		    border:#F33 double 15px;
			
			
}
   .sde{ text-align:center;
         font-family:"Arial Black", Gadget, sans-serif;
		 font-size:24px;
		 text-indent:2em;
		
			}
	.xcv{position:absolute;
	     top:200px;
		 right:30px;}
		 
	.zxs{position:absolute;
	     top:600px;
		 right:30px;}
   
/*content end*/