@charset "utf-8";
/* CSS Document */

/*top begin*/
   .top{font-size:50px;
   font-family:Verdana, Geneva, sans-serif;
   background:#00F ;
   text-align:center;
   margin:10px auto 0 auto;
   padding:0; 
   border:#0FF solid 2px;
   width:1000px; 
   height:80px;
   color:#F63;}
/*top end*/ 

/*content begin*/

.content{windth:1000px;
            height:400px;
		    margin:10px auto;
		    overflow:hidden;
		    border:#F33 double 2px;
			background:#9CF;
}
.aeg{font-family:"Courier New", Courier, monospace;
     font-size:24px;
	 color:#F06;
	 width:1000px;
	 border-bottom:double;
	 }
	  
/*content end*/
 